@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
#logo-container {
    width: 100%;
    height: 20%;
    margin-top: 75px;
    z-index: -1;
}

#logo {
    display: block;
    max-width: 150px;
    height: auto;
    margin: auto;
}

#about {
    display: block;
    height: auto;
    max-width: 60%;
    margin: 75px auto;
    z-index: -1;
}

#about-text {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    justify-content: center;
    color: rgb(59, 59, 59);
}

#icon-container {
    display: grid;
    height: auto;
    margin: 50px 100px 0px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-areas: "content1 content2 content3";
}

#shead {
    text-align: center;
}

#cnt1 {
    grid-area: content1;
    height: 200px;
    text-align: center;
}

#cnt1 p {
    color: rgb(27, 105, 223);
    font-size: 20px;
    margin-top: 20px;
}

#cnt2 {
    grid-area: content2;
    text-align: center;
    height: 200px;
}

#cnt2 p {
    color: rgb(27, 105, 223);
    font-size: 20px;
    margin-top: 20px;
}

#cnt3 {
    grid-area: content3;
    text-align: center;
    height: 200px;
}

#cnt3 p {
    color: rgb(27, 105, 223);
    font-size: 20px;
    margin-top: 20px;
}

#cnt1:hover .socialicons {
    transform: scale(1.2, 1.2);
}

#cnt1:hover p {
    text-decoration: underline;
}

#cnt2:hover .socialicons {
    transform: scale(1.2, 1.2);
}

#cnt2:hover p {
    text-decoration: underline;
}

#cnt3:hover .socialicons {
    transform: scale(1.2, 1.2);
}

#cnt3:hover p {
    text-decoration: underline;
}

.socialicons {
    font-size: 100px;
}

@media only screen and (max-width: 768px) {
    #icon-container {
        display: grid;
        height: auto;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "content1" "content2" "content3";
    }
    #cnt1 {
        grid-area: content1;
        height: 100px;
    }
    #cnt2 {
        grid-area: content2;
        height: 100px;
    }
    #cnt3 {
        grid-area: content3;
        height: 100px;
    }
}